@import "vars";

//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    767.98px

@include media-breakpoint-down(lg) {
  header {
    .flex-container {
      .flex-center {
        .info-block {
          .h1 {
            font-size: 3.8rem;
          }
        }
      }
    }

    .bottom-line {
      font-size: 0.75rem;
    }
  }

  .services .owl-item:nth-child(odd) {
    .carousel-services-item {
      flex-direction: column;
    }
  }  
}

@include media-breakpoint-down(md) {
  header {
    .flex-container {
      .flex-center {
        .info-block {

          span {
            font-size: 0.7rem;
          }

          .h1 {
            font-size: 2.8rem;
          }

          strong {
            margin-bottom: 1.8rem;
          }

          & > p {
            font-size: 0.9rem;
          }
        }
      }
    }

    .bottom-line {
      font-size: 0.75rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  header {
    .bottom-line {
      font-size: 0.75rem;

      div:nth-child(2){
        font-family: Fira Sans, sans-serif;
        text-align: left;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  header {
    .flex-container {
      .flex-center {
        .info-block {
          span {
            font-size: 0.5rem;
          }
          
          .h1 {
            font-size: 1.6rem;
          }

          strong {
            font-size: 0.8rem;;
          }

          & > p {
            font-size: .8rem;
          }
        }
      }
    }

    .bottom-line {
      font-size: 0.75rem;
    }
  } 
}

// @media only screen and (max-width : 1200px) {}
	
// /* Medium Devices, Desktops */
// @media only screen and (max-width : 992px) {}

// /* Small Devices, Tablets */
// @media only screen and (max-width : 768px) {}
	
// /* Extra Small Devices, Phones */
// @media only screen and (max-width : 480px) {}
	
// /* Custom, iPhone Retina */
// @media only screen and (max-width : 320px) {}