@import "vars";
@import "fonts";
@import "libs";

body {
  // 	font-size: 16px;
  // 	min-width: 320px;
  // 	position: relative;
  line-height: 1.75;
  font-family: $default-font;
  // 	overflow-x: hidden;
  // 	opacity: 1;
}

header {
  height: 100vh;
  background-position: center;
  background-size: cover;
  min-height: 700px;

  .top-line {
    position: relative;
    padding-top: 2.5rem;
    padding-left: 2.55rem;

    .logo img {
      width: 126px;
      // height: auto;
    }

    .phone {
      font-family: Fira Sans, sans-serif;
      font-size: 1.3rem;
      color: #ffffff;
      position: absolute;
      right: 5.3125rem;
      top: 2.5rem;
      white-space: nowrap;

      .fas {
        font-size: 1.075rem;
        color: #555555;
        margin-right: 0.5rem;
        margin-bottom: 2rem;
      }
    }

    .hamburger {
      position: absolute;
      right: 0;
      top: 1.875rem;

      .hamburger-inner,
      .hamburger-inner:before,
      .hamburger-inner:after {
        width: 2.125rem;
        height: 0.125rem;
        border-radius: 0;
      }
    }
  }
}

.mm-navbar {
  border-bottom: none;
}

.mm-navbar__title {
  padding-bottom: 1rem;
  padding-top: 1rem;

  img {
    width: 126px;
  }
}

.mm-wrapper_opened {
  overflow-y: scroll;
}

.mm-listitem {
  .mm-listitem__text {
    padding-left: 3.5rem;
    transition: color 0.25s ease;

    &:hover {
      color: $accent;
      &::before {
        color: $accent;
      }
    }

    &::before {
      content: "\f3a5";
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      color: #ffffff;
      transition: color .25s ease;
    }
  }

  &::after {
    display: none;
  }

  &.mm-listitem_selected {
    color: $accent;

    & > .mm-listitem__text {
      background-color: transparent;
    }
  }
}
